@model ShoesShop.ViewModels.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <fieldset>
            <legend> </legend>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <table>
                <tr>
                    <td>@Html.LabelFor(a => a.UserName)</td>
                    <td>@Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(a => a.Password)
                    </td>
                    <td>
                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" class="btn btn-info" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    }


</body>
</html>
