@model ShoesShop.ViewModels.RegistrationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />

    <title>Registrar</title>

    <link href="~/Content/Styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

</head>

<body style="background: #CF7B52;">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index","Image")" style="font-size:25px;">
            <img src="~/Images/5.png" width="80" height="30" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <div class="navbar-nav ml-auto mr-auto text-center">
                <a class="nav-item nav-link" href="@Url.Action("Login","Login")">Iniciar Sesión</a>
                <a class="nav-item nav-link" href="@Url.Action("Registrar","Login")">Registrar</a>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Categorias</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"> Caballero</a>
                        <a class="dropdown-item" href="#">Dama</a>
                        <a class="dropdown-item" href="#">Niña</a>
                        <a class="dropdown-item" href="#">Niño</a>
                    </div>
                </li>

                <a class="nav-item nav-link" href="@Url.Action("Novedades","Novedades")">Novedades</a>
                <a class="nav-item nav-link" href="@Url.Action("Contact","Contacto")">Contacto</a>
            </div>
        </div>
    </nav>
    <section class="container-fluid">
        <section class="d-flex justify-content-center mt-5 pt-5 mb-4">
            <img src="~/Images/0e51f78f-6d42-4634-84c4-d52269a8273c.png" width="120" height="120" alt="Inicio" />
        </section>

        @using (Html.BeginForm())
        {
            <section class="row justify-content-center mb-4">
                <section class="col-sm-6 col-md-4">
                    <form class="form-group">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <p class="h2 text-black text-center mb-4">Registrate</p>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa tu primer Apellido" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                <br />
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa tu nombre" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                <br />
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@dominio.com" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <br />
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "TuUsuario" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                <br />
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "******" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <br />

                            <input type="submit" value="Registrar" class="btn btn-success btn-block" />

                        </div>

                    </form>
                </section>
            </section>
        }
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
